@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/typography";

a {
	text-decoration: none;
}

.inv-details-container {
	height: 22.813rem;
	width: 90%;
	background-color: $white;
	position: relative;
	top: -40px;
	border-radius: 3px;
	box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
	z-index: 2;
	left: 5vw;
	margin-bottom: 6.875rem;

	@include tablet {
		margin-bottom: 36.375rem;
	}
}

.inv-header {
	display: flex;
	height: 5.75rem;
	justify-content: space-between;
	padding-top: 1rem;
	background-color: $white;
	border-radius: 3px;

	@include tablet {
		height: 5.813rem;
		position: relative;
		top: -73px;
		padding-left: 2rem;
		padding-top: 2rem;
	}

	&__left-container {
		display: flex;
		padding-left: 1rem;
	}

	&__right-container {
		padding-right: 1rem;
	}

	&__arrow {
		width: 1.5rem;
		height: 1.5rem;
		margin-top: 0.6rem;
		margin-left: 0.5rem;
	}

	&__title {
		font-size: 1.75rem;
		padding-left: 0.5rem;
	}

	&__link {
		@include tablet {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
		}
	}

	&__text {
		display: none;

		@include tablet {
			color: white;
			display: flex;
			text-decoration: none;
			padding-left: 0.5rem;
		}
	}

	&__edit-button {
		background-color: $indigo;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		margin-left: 3.875rem;

		@include tablet {
			background-color: $indigo;
			display: flex;
			align-items: center;
			width: 81px;
			height: 38px;
			border-radius: 20px;
			margin-right: 2rem;
			justify-content: center;
			margin-left: 24rem;
		}

		@include desktop {
			margin-left: 52rem;
		}
	}

	&__icon {
		width: 15px;
		height: 15px;
		display: block;
		margin: auto;
		padding: 10px;

		@include tablet {
			width: 15px;
			height: 15px;
			margin: 0;
			padding: 0;
		}
	}
}

.details-break {
	position: relative;
	z-index: 999;
	bottom: 1.875rem;
	color: $cloud;

	@include tablet {
		bottom: 5.5rem;
	}
}

.inv-details {
	padding-left: 1rem;

	@include tablet {
		position: relative;
		top: -55px;
		display: flex;
		justify-content: space-between;
	}

	&__label {
		font-size: 0.688rem;
		color: $slate;
	}

	&__txt {
		font-size: 0.813rem;
		line-height: 1.25rem;
	}

	&__status-txt {
		color: $green;
		font-size: 0.813rem;
		line-height: 1.25rem;
		background-color: rgba(21, 132, 99, 0.07);
		border-radius: 20px;
		padding: 4px 8px;
	}

	&__tablet-right {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1rem;
	}

	&__description {
		padding-bottom: 1rem;
		padding-right: 1.5rem;

		@include tablet {
			width: 18.438rem;
		}
	}

	&__left-container {
		padding-bottom: 1rem;

		@include tablet {
			padding-left: 1rem;
		}
	}

	&__qty {
		padding-right: 6.938rem;

		@include tablet {
			padding-left: 6.063rem;
			padding-right: 0;
		}
	}

	&__vl {
		display: none;

		@include tablet {
			display: block;
			border-right: 1px solid $cloud;
			height: 9.375rem;
			width: 1px;
			position: absolute;
			left: 50%;
		}
	}

	&__right-container {
		@include tablet {
			padding-left: 0;
			padding-right: 6.375rem;
		}

		@include desktop {
			padding-right: 11.313rem;
		}
	}
}
