@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;
@use '../../Styles/Partials/variables' as *;

body {
  font-size: 0.813rem;
  box-sizing: border-box;
}

h4 {
  color: $slate;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

p {
  margin: 0;
}

.details {
  margin: 0 1rem;
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  color: $black;
  border-radius: 3px;
  position: relative;
  top: -40px;
  z-index: 2;

  @include tablet {
    top: -123px;
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 8.125rem;
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $cloud;

    @include tablet {
      align-items: center;
    }
  }

  &__header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1rem;

    @include tablet {
      margin-left: 2rem;
    }
  }

  &__back-icon {
    margin-right: 1rem;
    position: relative;
    top: 0.2rem;
  }

  &__header-title {
    font-size: 1.75rem;
    margin: 0;
    line-height: 1.6;
  }

  &__edit-text {
    background: $indigo;
  }

  &__edit-icon {
    background-color: $indigo;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    object-fit: scale-down;
    margin-top: 0.25rem;

    @include tablet {
      display: none;
    }
  }

  &__edit-link {
    text-decoration: none;
  }

  &__edit-button {
    display: none;

    @include tablet {
      background-color: $indigo;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 94.77px;
      height: 38px;
      border-radius: 20px;
      margin-right: 2rem;
    }
  }

  &__button-image {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
  }

  &__button-text {
    color: $white;
  }

  &__info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $cloud;

    @include tablet {
      flex-direction: row;
      align-items: center;
      border: none;
    }

    @include desktop {
      @include desktop-margin;
      justify-content: flex-start;
    }
  }

  &__address {
    @include mobile-margin;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: left;

    @include tablet {
      @include tablet-margin;
      width: 13rem;
      border-right: 1px solid $cloud;
      margin: 1.5rem 2rem;

      @include desktop {
        width: 23rem;
      }
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem 1rem 1.25rem;

    @include tablet {
      width: 60%;
      justify-content: space-around;
      margin-top: 0.8rem;
      margin-left: 0;
    }
  }

  &__contact-name {
    text-align: left;

    @include desktop {
      margin-left: 1rem;
    }
  }

  &__contact-title {
    width: 9rem;
  }

  &__contact-content {
    width: 7rem;
  }

  &__manager {
    width: 7rem;
  }

  &__contact-info {
    text-align: left;
    width: 50%;

    @include tablet {
      margin-left: 2.5rem;

      @include desktop {
        margin-left: 7.5rem;
      }
    }
  }

  &__inventory-wrap {
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: 80%;
    }
  }

  &__inventory-container {
    display: flex;
    flex-direction: column;
    width: 8rem;
  }

  &__inventory {
    border-bottom: 1px solid $cloud;
    flex-direction: column;
  }

  &__inventory-title {
    @include tablet {
      display: none;
    }
  }

  &__navbar {
    background-color: $grey;
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
    }
  }

  &__navbar-list {
    display: flex;

    @include desktop {
      margin-right: 6rem;
    }

    &--status {
      margin-right: 5rem;

      @include desktop {
        margin-right: 3rem;
      }
    }

    &--qty {
      display: none;
      @include desktop {
        display: flex;
        margin-right: 13.2rem;
        margin-left: 7.5rem;
      }
    }

    &--quantity {
      @include desktop {
        display: none;
      }
    }

    &--actions {
      @include desktop {
      }
    }
  }

  &__list-link {
    display: flex;
    text-decoration: none;
  }

  &__navbar-item {
    margin: 0;
  }

  &__sort {
    width: 12px;
    margin-left: 0.5rem;
  }

  &__bp-list {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 0;
      padding: 1.25rem 2rem;
      border-bottom: 1px solid $cloud;
    }
  }

  &__list-item {
    list-style: none;

    &--inventory {
      display: flex;
    }

    &--category {
      @include tablet {
        width: 6rem;
      }
    }

    &--status {
      @include tablet {
        width: 6rem;
        margin-right: 3rem;
      }

      @include desktop {
        margin-right: 3rem;
      }
    }

    &--quantity {
      @include tablet {
        width: 3rem;
        margin-right: 1.3rem;
      }

      @include desktop {
        margin-right: 6.6rem;
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    border: 1px solid $cloud;

    @include tablet {
      display: none;
    }
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.25rem 1.5rem 0 1.5rem;
    margin-bottom: 0;
  }

  &__item-wrap {
    display: flex;
    align-items: center;
  }

  &__description {
    margin-top: 0;
    color: $indigo;
    width: 8rem;
    line-height: 20px;
    @include tablet {
      display: flex;
    }
  }

  &__chevron {
    position: relative;
    top: 0.2rem;
    height: 18px;
    margin-left: 0.5rem;
    @include tablet {
      position: static;
    }
  }

  &__status-container {
    width: 8rem;
    text-align: left;
  }

  &__status-title {
    @include tablet {
      display: none;
    }
  }

  &__in-stock {
    background-color: $grey;
    color: $green;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    width: 81px;
    text-align: center;
    border-radius: 20px;

    @include tablet {
      margin-right: 0;
    }
  }

  &__out-stock {
    background-color: $grey;
    color: $red;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    width: 86px;
    text-align: center;
    border-radius: 20px;

    @include tablet {
      margin-right: 0;
    }
  }

  &__stock-container {
    width: 8rem;
    margin: 1.25rem 5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__category-container {
    margin-top: 1.25rem;
  }

  &__category-title {
    width: 8rem;
  }

  &__quantity-container {
    text-align: left;
    margin-right: 5.2rem;
    width: 5rem;
  }

  &__icon-container {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 1.5rem;
  }

  &__delete {
    @include tablet {
      margin-right: 0.5rem;
    }
  }

  &__item-edit {
    @include tablet {
      margin-left: 0.5rem;
    }
  }
}
