@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;
@use '../../Styles/Partials/variables' as *;

body {
  font-size: 0.813rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 0.813rem;
}

h4 {
  color: $slate;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

p {
  margin: 0;
}

.edit {
  margin: 0 1rem;
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  color: $black;
  border-radius: 3px;
  position: relative;
  top: -40px;
  z-index: 2;

  @include tablet {
    top: -100px;
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 8.125rem;
  }

  &__header-container {
    border-bottom: 1px solid $cloud;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;

    @include tablet {
      padding: 1.5rem 2rem;
    }
  }

  &__back-icon {
    margin-right: 1rem;
    position: relative;
    top: 0.2rem;
  }

  &__title {
    font-size: 1.75rem;
    margin: 0;
    line-height: 1.6;

    @include tablet {
      font-size: 2rem;
    }
  }
}

.form {
  @include tablet {
    display: flex;
    justify-content: center;
  }

  &__container-warehouse {
    padding: 0 1.5rem 0.5rem 1.5rem;
    border-bottom: 1px solid $cloud;

    @include tablet {
      border-bottom: none;
      border-right: 1px solid $cloud;
      width: 35.43vw;
      padding: 0 1.5rem 0.5rem 0rem;
      margin-right: 2rem;
      height: 355px;
      margin-top: 1.5rem;
    }

    @include desktop {
      margin-left: 1rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__container-contact {
    padding: 0 1.5rem;

    @include tablet {
      padding: 0 0 1.5rem 0;
      margin-top: 1.5rem;
      width: 35.43vw;
    }
  }

  &__title {
    margin: 1.5rem 0;
    text-align: left;

    @include tablet {
      font-size: 1.5rem;
      margin-top: 0;
    }
  }

  &__label {
    padding-bottom: 0.25rem;
  }

  &__input {
    padding: 0.5545rem 1.2rem;
    width: 100%;
    border: 1px solid $cloud;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 1rem;
    outline: none;

    &:focus {
      border-color: $indigo;
    }
  }

  &__button-wrap {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: 100%;
      justify-content: flex-end;
      background-color: $grey;
    }
  }

  &__cancel {
    font-family: $titillium;
    font-size: 13px;
    font-weight: 600;
    color: $slate;
    background-color: $white;
    border: 1px solid $cloud;
    border-radius: 20px;
    padding: 0.434rem 3.05rem;

    @include tablet {
      padding: 0.434rem 1.053rem;
      margin-right: 1rem;
    }
  }

  &__save {
    font-family: $titillium;
    font-size: 13px;
    color: $white;
    font-weight: 600;
    background-color: $indigo;
    border: none;
    border-radius: 20px;
    padding: 0.434rem 3.431rem;

    @include tablet {
      padding: 0.434rem 1.08rem;
      margin-right: 1.5rem;

      @include desktop {
        margin-right: 0;
      }
    }
  }

  &__warning {
    display: flex;
    position: relative;
    top: -12px;
  }

  &__error-icon {
    height: 16px;
  }

  &__warning-text {
    font-size: 12px;
    line-height: 18px;
    color: $red;
    margin: 0 0 0 5px;
  }
}
