@use '../Partials/typography' as *;

// font
$titillium: "Titillium";

// breakpoints
$tablet-bp: 768px;
$desktop-bp: 1280px;

// colors 
$black: #13172C;
$indigo: #2E66E6;
$white: #FFFFFF;
$slate: #5C667E;
$cloud: #BDC5D5;
$graphite: #232940;
$grey: #F7F8F9;
$green: #158463;
$red: #C94515;