@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/typography";

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
    margin: 5% 0% 5%;

    @include tablet {
        top: -50px;
    }

    @include desktop {
        top: -50px;
        margin: 0%;
    }

    &__text {
        font-family: "Titillium";
        font-weight: 300;
        font-style: normal;
        font-size: 0.75rem;
        color: $slate;
    }
}

