@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/typography";

* {
  margin: 0;
}

.header {

	width: 100%;
	background-color: $graphite;
	color: $white;
	text-align: center;
	font-family: Titillium;
	padding-top: 2.5rem;
	height: 8.5rem;
	margin: 0;

	@include tablet {
		display: flex;
		justify-content: space-between;
		height: 11.625rem;
		padding-top: 2.188rem;
	}

	&__logo {
		@include tablet {
			padding-left: 2rem;
			padding-top: 0.5rem;
		}

		@include desktop {
			padding-left: 8.125rem;
		}
	}

	&__links {
		display: flex;
		justify-content: space-around;
		font-size: 0.813rem;
		color: $cloud;
		margin-top: 0.625rem;
		padding-bottom: 0.625rem;


    :hover {
      text-decoration: underline;
      color: $white;
    }


		@include tablet {
			padding-right: 2rem;
		}

		@include desktop {
			padding-right: 9.125rem;
		}
	}

	&__link {
		width: 9rem;
		text-decoration: none;
		color: $cloud;
		line-height: 1.25rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-weight: 600;

		@include tablet {
			height: 2.375rem;
			line-height: 2.125rem;
			width: 6.688rem;
			padding: 0;
			text-align: center;
		}

		@include tablet {
			height: 2.375rem;
			line-height: 2.125rem;
			width: 6.688rem;
			padding: 0;
			text-align: center;
		}

		&--active {
			color: $white;
			background: $black;
			border-radius: 1.25rem;
			text-decoration: none;
		}
	}

}
